*{
    margin: 0;
    padding:0;
    box-sizing: border-box; 
    
}
html, body {
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  
}
/* cabeçario*/
#logo{
    margin-top: 5px;
    font-family:"Bebas Neue",coursive;
    color:white ;
    font-size:70px;
    margin-left: 40px;
    text-decoration: none;
}

header .container{
    background-color: rgb(48, 48, 48);
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    
}

header nav a{
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, .75);
    text-decoration: none;
    transition: all .6s ;
    color:rgb(255, 255, 255);
    margin-right: 10px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
    
}

header nav a:hover {
    text-decoration: underline;
    font-size:2em;
    box-shadow: 0px 0px 5px 10px white;
    transition-timing-function: ease-in-out;
}
.direct-pag{
    display:flex;
    align-items: center;
    justify-content:space-between;
    height: 70px;
    bottom: 0;
    display:flex;
    background-color: rgb(48, 48, 48);
   
}
.direct a{
    margin-left: 40px;
    border-radius: 5px;
  
    left: 25px;
    background-color: red;
    padding: 10px 25px;
    text-decoration: none;
    color:rgb(255, 255, 255);

    font-family: "Arial";
    font-weight: bold;
    font-size: 25px;  
}
.direct input{
    padding: 10px 25px;
    font-size: 25px; 
    font-weight: bold;
    border-radius: 5px;
    width: 500px;
}
/*menu departamento*/
.close {
    text-align: center;
    font-size: 50px;
    
    position: relative;
    left: 90%;
    color: #fff;
    cursor: pointer;
}
.close:hover{
    opacity : 0.5;
    
}
.departamento{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu{
    background-color: #38322e;
    width: 20%;
	margin: 0; padding: 0;
	float: left;
    height: 100vh;

}
.menu h1{
    padding: 40px;
    color: #fff;
    text-align: center;
    
}
.menu ul li {
    font-size: 20px;
   
	text-align: center;
	list-style-type: none;
}

.menu a {
    color:white; 
    text-decoration:none; 
    padding:20px 10px; 
    display:block;
}

.menu a:hover{
    background: #bbb;
    color: #d9a000;
    
}
.fundo{
    background-color: black;
    color: white;
    
  }
/*botao*/
.botao-negrito{
    color: #d9a000;
    position:relative;
    padding: 15px 10px;
    border-radius: 15px;
    background-color: black;
}
/*main*/
.TemaProduto{
    background-color: #c4c3c3;
    color: rgb(0, 0, 0);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}
section{
    margin-top: 15px;
   
}
section .Produtos{
 
    padding:25px 40px;
    justify-content: center;
        
    align-items: center;

}

.produto-destaque{
	float: left;
	width: 33%;
	text-align: left;
   
	
}

.box-produtos{
    width:15%;
    margin:5px;
    min-width: 450px;
    background-size: 100% 100%;

}
.box-produtos:hover {
    
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}
/*botao mais detalhes*/
.btn1-mais-detalhes{
    text-align: center;
	display: block;
	line-height: 40px;
	background-color:#36A420;
	text-decoration: none;
	border-bottom: 5px solid #006080 ;
	color: white;
	font-size: 16px;
	font-style: italic;
	width: 150px;
}
/*botao volta top pagina*/
.back-to-top {
    display: none;
    text-align: center;
    text-decoration: none;
    background-color: #38322e;
    font-size: 20px;
    padding-top: 10px;
  border-radius: 65px;
  bottom: 14px;
  box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
  color: #d9a000;
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 22px;
  width: 40px;
  z-index: 3;

  }
/*roda pe*/
footer{
    
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
    
    bottom: 0;
    justify-content: center ;
    display: flex;
}
.Linkrodape a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin-right: 10px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 17px;  

}
.Linkrodape a:hover{
    color: aqua;
    text-decoration: underline;
}
@media screen and (max-width: 1000px) {
    .menu{
        background-color: #38322e;
        width: 50%;
        margin: 0; padding: 0;
        float: left;
        height: 100vh;
    
    }
    .menu h1{
        padding: 40px;
        color: #fff;
        text-align: center;    
    }
    .direct a{
        padding: 15px;
    }
    .direct input{
        align-items: center;
        top: 75px;
        position: absolute;
        padding: 25px;
        margin: 0;
        bottom: 0;
        font-size: 10px;
        height: 50px;
        font-weight: bold;
        border-radius: 5px;
        width: 150px;
    }
body{
    scrollbar-width: none;
    background-color: #bbb;
    width: 100%;
    height: 600px;
    overflow-y: scroll;
}
}

